<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false"
         requireCoverageMetadata="true">
    <coverage includeUncoveredFiles="true">
        <report>
            <html outputDirectory="build/coverage/html" lowUpperBound="35" highLowerBound="70"/>
            <xml outputDirectory="build/coverage/xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
    </testsuites>
    <logging/>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
